<div class="container  p-3">

    <div class="row  p-3">
            <div class="text-center  p-3">
             <h1> Bidding product Details</h1>
            </div>
    </div>
    <div class="p-3">
    <div class="row  p-3">
        <div class="col-sm-2">
            </div>
            <div class="col-sm-3">
            <h3>Product</h3> 
            </div>
            <div class="col-sm-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-2">
                <button type="submit" mat-button class="btn btn-primary" >Get Details</button>
            </div>
            <div class="col-sm-2">
                <button type="submit" mat-button class="btn btn-primary" >Add Product</button>
            </div>
        </div>
    </div>
    <div class="p-3">
    <div class="row p-3" >
        <div class="col-sm-3">Product Name</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5"><input type="text" id="disabledTextInput" class="form-control" placeholder="Product Name"></div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row  p-3" >
        <div class="col-sm-3">Short Description</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5"><input type="text" id="disabledTextInput" class="form-control" placeholder="Short Description"></div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row  p-3" >
        <div class="col-sm-3">Detailed Description</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5"><input type="text" id="disabledTextInput" class="form-control" placeholder="Detailed Description"></div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row  p-3" >
        <div class="col-sm-3">Category</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5"><input type="text" id="disabledTextInput" class="form-control" placeholder="Category"></div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row  p-3" >
        <div class="col-sm-3">Starting Price</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5"><input type="text" id="disabledTextInput" class="form-control" placeholder="Starting Price"></div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row  p-3" >
        <div class="col-sm-3">Bid end date</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5"><input type="text" id="disabledTextInput" class="form-control" placeholder="Bid end date"></div>
        <div class="col-sm-2"></div>
    </div>
</div>
<div style="height:10em" class="p-3">
    <div class="row p-3">
        <div class="col-sm-3"></div>
        <div class="col-sm-7"> <button type="submit" mat-button class="btn btn-primary" style="width: 30em;" >Product Bids</button></div>
        <div class="col-sm-2"></div>
    </div>
</div>
</div>

